name: Test-Android
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
jobs:
  android-test:
    runs-on: ubuntu-latest

    env:
      FLUTTER_CHANNEL: stable
      FLUTTER_VERSION: 3.27.3

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - run: echo API_KEY=${{ secrets.TEST_API_KEY }} > example/.env

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}

      # This step enables KVM (Kernel-based Virtual Machine).
      # KVM is a virtualization module in the Linux kernel that allows the
      # kernel to function as a hypervisor. This is necessary for running
      # virtual machines on the host system.
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: run android tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: cd example && flutter drive --driver=test_drive/integration_test.dart --target=test/widget_test.dart